.app-comp--home {
  padding-top: 25vh;

  .home-inner {
    min-height: 300px;
    padding: 1em;

    text-align: center;
    background: white;
    border-radius: 15px;
  }

  a {
    display: block;
    padding: 2em 0;
    width: 300px;
    margin: 0 auto 1em;

    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 700;

    transition: background 1s;

    background: #87e0fd;
    border-radius: 15px;

    cursor: pointer;

    &:hover {
      background: #05abe0;
    }
  }
}
